.container{
  width: 100vw;
  height: 100vh;
  background-image: url('https://t.ctcdn.com.br/wKI9Mcz9edE0AF64vJx0PRcnzEA=/1024x0/smart/filters:format(webp)/i587946.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 2.5px  black;
}

.content{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* background-color: brown; */
 
  
  
}

button{
  position: relative;
  left: 20%;
  width: 150px;
  height: 50px;
  -webkit-text-stroke: 0.6px  rgb(202, 214, 27);
}

.generateMap{
  align-items: center;
  justify-content: center;
  margin-left: 25vw;
  width: 60vw;
  height: 80vh;
  /* background-color: aquamarine; */
}