.container{
  width: 100vw;
  height: 100vh;
  background-image: url('https://t.ctcdn.com.br/wKI9Mcz9edE0AF64vJx0PRcnzEA=/1024x0/smart/filters:format(webp)/i587946.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 2.5px  black;
}